#app {
    min-width:450px;
}

/*---------- home -----------*/
.home {
    border: 5px solid #000;
    position: relative;
    box-shadow: 12px 18px 13px 0px #53535366;
    width: 50%;
    margin: 15px auto 0;
    padding: 20px 0;
    min-width: 700px;
    background-color: #fff;
    background-size: 40px 40px;
    background-image: 
    linear-gradient(to right,  #d7d7d778  2px,  transparent  1px), 
    linear-gradient(to bottom,  #d7d7d778  2px,  transparent  1px);
    background-repeat: repeat;
    background-image: 
    linear-gradient(to right,  #eee  2px,  transparent  1px), 
    linear-gradient(to bottom,  #eee  2px,  transparent  1px);
    overflow: hidden;
}

.home::after {
    content: '';
    width: 230px;
    position: absolute;
    height: 50px;
    background-color: #fdc45d;
    top: -35px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display: none;
}

/*---------- header -----------*/
.header {
    /* padding-top: 30px; */
    padding: 30px 40px 0;
}

.header > h1 {
    font-size:5em;
    /* color: #134a7f; */
}

.header > .date {
    position: absolute;
    top: 21px;
    right: 20px;
    font-size: 1.2em;
}

.header > p {
    font-size: 1.3em;
    background: linear-gradient(#fff 50%, #ffcb8b 50%);
    display: inline;
}


/*---------- listAdd -----------*/
.listAdd-area { 
    margin-top:30px;
    padding: 0 40px;
}

.listAdd-area > .listAdd-form {
    width: 50%;
    font-size: 1.5em;
    position: relative;
}

.listAdd-area > .listAdd-form > .list-input {
    border-bottom: 2px solid #000;
    width: 100%;
    padding: 5px;
    letter-spacing: 2px;
}

.listAdd-area > .listAdd-form > button {
    position: absolute;
    top: 5px;
    right: 5px;
}

.listAdd-area > .listAdd-form > button > span {
    font-size: 0;
}



/*---------- list -----------*/
.list-area {
    padding-top:80px;
    position: relative;
    height: 350px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.list-area::-webkit-scrollbar {
    width: 8px;
}

.list-area::-webkit-scrollbar-thumb {
    background-color: #4a4a4a63;
}

.list-area > ul {
    padding: 0 40px;
}

.list-area > ul > li {
    font-size:1.5em;
    position: relative;
    line-height: 55px;
}

.list-area > ul > li > .checkbox {
    display: none;
}

.list-area > ul > li > .checkbox[type="checkbox"] + label {
    margin-right: 5px;
}

.list-area > ul > li > .checkbox[type="checkbox"] + label > span {
    border: 2px dotted #1e4ba0;
    display: inline-block;
    width:15px;
    height:15px;
    border-radius:3px;
    cursor: pointer;
    position: relative;
}

.list-area > ul > li > .checkbox[type="checkbox"] + label > span > i {
    font-size: 0.9em;
    position: absolute;
    top: -4px;
    color: transparent;
}

.list-area > ul > li.checked > .checkbox[type="checkbox"] + label > span > i {
    color: #000;
}

.list-area > ul > li > .todo-txt {
    margin-left:10px;
    margin-right: 30px;
    position: relative;
}


.list-area > ul > li.checked > .todo-txt {
    color: #a6a6a6;
}

.list-area > ul > li > .todo-txt::before {
    content: '';
    position: absolute;
    left: 0;
    top: 8px;
    height: 4px;
    width: 100%;
    background-color: #dd2f0d;
    display: none;
}

.list-area > ul > li.checked > .todo-txt::before {
    display: block;
}

.list-area > ul > li > strong {
    /* color: #ff3d48; */
}

.clock {
    font-size: 0.5em;
    color: #8f8f8f;
}

.list-area > ul > li > .btn-box {
    position: absolute;
    right: 0;
    top: 0;
}


.list-area > ul > li > .btn-box > button + button {
    margin-left: 15px;
}

.list-area > ul > li > .btn-box > .edit-btn > i {
    color: #5563a2;
}

.list-area > ul > li > .btn-box > .delete-btn > i {
    color: #ff3d48;
}

.list-area > .clear-btn {
    position: absolute;
    top: 45px;
    right: 40px;
    color: #767676;
    font-size: 1.15em;
}

.list-area > .clear-btn:hover{
    color:#3f3f3f;
}

/*---------- transition -----------*/
.list-enter {
    opacity: 0;
    transform: translateX(50px);
}
  
.list-leave-to {
    opacity: 0;
    transform: translateX(-50px);
}
  
.list-enter-active, .list-leave-active {
    transition: all 0.7s ease-out;
}

