#app {
    /* background-color: lightslategrey; */
}
.home {
    border: 5px solid #000;
    width: 50%;
    margin: 30px auto 0;
    margin: 50px auto 0;
    padding: 20px 40px;
    min-width: 700px;
    background-color: #fff;
    background-size: 40px 40px;
    background-image: 
    linear-gradient(to right,  #d7d7d778  2px,  transparent  1px), 
    linear-gradient(to bottom,  #d7d7d778  2px,  transparent  1px);
    background-repeat: repeat;

    background-image: 
    linear-gradient(to right,  #eee  2px,  transparent  1px), 
    linear-gradient(to bottom,  #eee  2px,  transparent  1px);
    position: relative;
    /* height: 80vh; */
    /* overflow-y: scroll; */
}

.home::after {
    content: '';
    width: 230px;
    position: absolute;
    height: 50px;
    background-color: #fdc45d;
    top: -35px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display: none;
}

/*---------- header -----------*/
.header {
    /* border: 1px solid red; */
    /* padding-top:25px; */
    padding-top: 30px;
}

.header > h1 {
    font-size:5em;
}

.header > .date {
    display: none;
}


/*---------- listAdd -----------*/
.listAdd-area { 
    margin-top:30px;
}

.listAdd-area > .listAdd-form {
    width: 50%;
    font-size: 1.5em;
    position: relative;
}

.listAdd-area > .listAdd-form > .list-input {
    border-bottom: 2px solid #000;
    width: 100%;
    padding: 5px;
    letter-spacing: 2px;
}

.listAdd-area > .listAdd-form > button {
    position: absolute;
    top: 5px;
    right: 5px;
}

.listAdd-area > .listAdd-form > button > span {
    font-size: 0;
}


.listAdd-area > .listAdd-form > .add-btn > i {}

/*---------- list -----------*/
.list-area {
    margin-top:70px;
}

.list-area > ul {}

.list-area > ul > li {
    font-size:1.5em;
    position: relative;
    line-height: 55px;
    -webkit-animation: listOn .5s ease-out both;
    animation: listOn .5s ease-out both;
}

@-webkit-keyframes listOn {
    0%{
        transform:translateX(50px);
        opacity: 0;
      }

      100%{
          transform: translateX(0);
          opacity: 1;
      }
}

.list-area > ul > li > .checkbox {
    display: none;
}

.list-area > ul > li > .checkbox[type="checkbox"] + label {
    margin-right: 5px;
}

.list-area > ul > li > .checkbox[type="checkbox"] + label > span {
    border: 2px dotted #1e4ba0;
    display: inline-block;
    width:15px;
    height:15px;
    border-radius:3px;
    cursor: pointer;
    position: relative;
}

.list-area > ul > li > .checkbox[type="checkbox"] + label > span > i {
    font-size: 0.9em;
    position: absolute;
    top: -4px;
    color: transparent;
}

.list-area > ul > li.checked > .checkbox[type="checkbox"] + label > span > i {
    color: #000;
}

.list-area > ul > li > span {
    margin-left:10px;
    position: relative;
}


.list-area > ul > li.checked > span {
    color: #a6a6a6;
}

.list-area > ul > li > span::before {
    content: '';
    position: absolute;
    left: 0;
    top: 8px;
    height: 4px;
    width: 100%;
    background-color: #dd2f0d;
    display: none;
}

.list-area > ul > li.checked > span::before {
    display: block;
}

.list-area > ul > li > strong {
    /* color: #ff3d48; */
}

.list-area > ul > li > .btn-box {
    position: absolute;
    right: 0;
    top: 0;
}

.list-area > ul > li > .btn-box > button + button {
    margin-left: 15px;
}

.list-area > ul > li > .btn-box > .edit-btn > i {
    color: #5563a2;
}

.list-area > ul > li > .btn-box > .delete-btn > i {
    color: #ff3d48;
}