
@media screen and (max-width:1023px) {
    body {
        /* background-color: lightsalmon; */
    }

    #app {}

    .home {
        margin:70px auto 0;
        width: 80%;
        min-width:500px;
    }

}

@media screen and (max-width:768px) {
    body {
        /* background-color: mediumpurple; */
        padding: 0;
    }

    .header {
        padding: 30px 0 0;
        text-align: center;
    }

    .header > h1 {
        font-size: 3em;
    }

    .header > p  {
    }

    .header > .date {
        top: 15px;
        right: 15px;
        font-size: 1em;
    }

    .home {
        margin: 40px auto 0;
        width: 90%;
        min-width: 350px;
        box-shadow: 6px 10px 13px 0px #53535366;
    }

    .listAdd-area > .listAdd-form {
        width: 100%;
    }

    
}